[run]
omit =
    .venv/**
    conf/**
    twiltwil/common/sitemaps.py
    twiltwil/common/cache/locmemkeys.py
    */admin.py
    */apps.py
    */tests/**
    */migrations/**

[report]
fail_under = 70
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
title = TwilTwil Coverage Report