coverage==5.5
django==5.0
django-pipeline==2.0.6
django-widget-tweaks==1.4.8
django-dotenv==1.4.2
django-debug-toolbar==3.2.1
mysqlclient==2.2.0
django-redis==4.11.0
pytz==2023.3
python-dateutil==2.8.2
mock==4.0.2
djangorestframework==3.12.4
phonenumbers==8.12.5
twilio==8.10.3
schedule==1.2.1
