coverage==5.1
codecov==2.1.7
django==1.11.29
django-pipeline==2.0.4
django-widget-tweaks==1.4.8
django-dotenv==1.4.2
django-debug-toolbar==2.2
mysqlclient==1.4.6
django-redis==4.11.0
pytz==2020.1
python-dateutil==2.8.1
mock==4.0.2
djangorestframework==3.11.0
phonenumbers==8.12.5
twilio==6.42.0
schedule==0.6.0
