{% extends "base.html" %}
{% load pipeline %}

{% block title %}{{ PROJECT_NAME }} | Portal{% endblock %}

{% block page_header %}
    {% stylesheet "portal" %}
{% endblock %}

{% block content %}
    <div class="page-content">
        <h3 class="page-header">Portal</h3>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span id="user-details-welcome">Welcome</span></h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <small>Status:</small>
                            <span id="user-details-status" class="label label-primary">Initializing</span></p>
                        <div>
                            <small>Languages:</small>
                            <ul id="user-details-languages">
                                <li>
                                    <small>Loading ...</small>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <small>Skills:</small>
                            <ul id="user-details-skills">
                                <li>
                                    <small>Loading ...</small>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <small>Group Statistics:
                                <select id="statistics-time-range">
                                    <option value="1440">Day</option>
                                    <option value="10080" selected>Week</option>
                                    <option value="43800">Month</option>
                                    <option value="525600">Year</option>
                                </select>
                            </small>
                            <ul id="user-details-statistics">
                                <li>
                                    <small>Loading ...</small>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <small id="user-details-task-time"></small>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Someone Need Help?</h3>
                    </div>
                    <div class="panel-body">
                        <p>Give them this number to text.</p>

                        <div class="text-center">
                            <h3><span class="label label-primary">{{ PHONE_NUMBER }}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chat-window" class="container col-sm-9" style="display: none">
                <div class="message-wrap col-lg-12">
                    <div id="messages" class="msg-wrap">
                    </div>

                    <div class="send-wrap ">
                <textarea id="reply-box" class="form-control send-message" rows="3"
                          placeholder="Write an answer ..."></textarea>
                    </div>
                    <div class="btn-panel">
                        <button id="solve-button" class="col-lg-3 btn send-message-btn" role="button"><i
                                class="fa fa-check"></i> Mark
                            Solved
                        </button>
                        <button id="send-button" class="col-lg-4 text-right btn send-message-btn pull-right"
                                role="button">
                            <i class="fa fa-plus"></i> Send Message
                        </button>
                    </div>
                </div>
            </div>

            <div id="lobby-window" class="container col-sm-9">
                <h4 align="center">No questions are assigned to you. Relax until the next one comes in!</h4>
                <div align="center">
                    <iframe id="lobby-video" width="560" height="315"
                            src="https://www.youtube.com/embed/oHg5SJYRHA0?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&iv_load_policy=3&loop=1&enablejsapi=1"
                            frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.12/taskrouter.min.js"></script>
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/chat/v2.1/twilio-chat.min.js"></script>
    <script type="text/javascript" src="//www.youtube.com/player_api"></script>

    {% javascript "portal" %}
{% endblock %}
